{{!< header-content}}
<title>Carry the Flame</title>

<div id="container">
	<div class="row">
		<div class="twelve columns logoContainer">
			<img style="width:70%" src="../images/snake-ergo/snake-ergo-logo.svg" align="middle" alt="logo"/>
		</div>
	</div>
</div>

	
	
	<section>
		<div class="container">
			<div class="row featureSection">
				<div class="four columns offset-by-one">
<!--                    TODO GIF-->
					<img src="../images/sample-iphone.svg"/ alt="game demo" width="100%">
				</div>
				<div class="five columns offset-by-two featureSection">
					<h4><span class="featureHeading">Help Drogo</span></h4>
					<p>
						Lorem ipsum dolor sit amet, molestie mollis faucibus tempus enim tellus nec, velit vehicula euismod fames tempor et eu, lectus quam faucibus et, ac lacinia egestas sapien nisl vehicula. Risus tempor egestas dignissim morbi, natoque vitae curabitur tempor. 
					</p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row featureSection">
				<div class="four columns offset-by-two u-pull-right">
<!--                    TODO GIF-->
					<img src="../images/sample-iphone.svg"/ alt="game demo" width="100%">
				</div>
				<div class="five columns offset-by-one u-pull-left featureSection">
					<h4><span class="featureHeading">Spread Fire</span></h4>
					<p>
						Lorem ipsum dolor sit amet, molestie mollis faucibus tempus enim tellus nec, velit vehicula euismod fames tempor et eu, lectus quam faucibus et, ac lacinia egestas sapien nisl vehicula. Risus tempor egestas dignissim morbi, natoque vitae curabitur tempor. 
					</p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row featureSection">
				<div class="four columns offset-by-one">
<!--                    TODO GIF-->
					<img src="../images/sample-iphone.svg"/ alt="game demo" width="100%">
				</div>
				<div class="four columns offset-by-three featureSection">
					<h4><span class="featureHeading">Mind your surroundings</span></h4>
					<p>
						Lorem ipsum dolor sit amet, molestie mollis faucibus tempus enim tellus nec, velit vehicula euismod fames tempor et eu, lectus quam faucibus et, ac lacinia egestas sapien nisl vehicula. Risus tempor egestas dignissim morbi, natoque vitae curabitur tempor. 
					</p>
				</div>  
			</div>
		</div>
	</section>
		
	<div class="row" style="padding-top:80px;padding-bottom:50px;">
		<div class="seven columns offset-by-three">
			<object data="https://www.youtube.com/embed/tBg-ZhMQ06Y" width="100%" height="380em"></object>
		</div>
	</div>
	<div class="row">
		<div class="six columns offset-by-four">
			<h3 class="reviewHeading">App of the Day - App Picker</h3>
		</div>
	</div>
	<div class="row">
		<div class="six columns offset-by-four">
			<h3 class="reviewHeading">Innovative App - Zackable</h3>
		</div>
	</div>
<!--
	<div class="row" style="padding-top:30px;padding-bottom:50px;">
		<div class="four columns offset-by-four">
			<a href="#"><img id="appStore" src="../images/app-store-badge.svg" width="100%" alt="App Store Link"/></a>
		</div>
	</div>
-->
</div>