<footer class="page-footer shadowInside">
	<div class="container">
	<div class="row">
		
		<div class="col l2 s12">
		<h5 class="white-text">Apps</h5>
		<ul>
			<li><a class="grey-text text-lighten-3" href="#!">Carry the Flame</a></li>
			<li><a class="grey-text text-lighten-3" href="#!">Sudoku All Solver</a></li>
			<li><a class="grey-text text-lighten-3" href="#!">Laying Bricks</a></li>
			<li><a class="grey-text text-lighten-3" href="#!">Snakes Ergo</a></li>
		</ul>
		</div>
		<div class="col l2 s12">
		<h5 class="white-text">Projects</h5>
		<ul>
			<li><a class="grey-text text-lighten-3" href="#!">Timeshift</a></li>
			<li><a class="grey-text text-lighten-3" href="#!">Graph it</a></li>
			<li><a class="grey-text text-lighten-3" href="#!">Spot Search</a></li>
		</ul>
		</div>
		<div class="col l2 s12">
		<h5 class="white-text">More</h5>
		<ul>
			<li><a class="grey-text text-lighten-3" href="#!">About</a></li>
			<li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
			<li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
		</ul>
		</div>
	</div>
	</div>
	<div class="footer-copyright">
	<div class="container">
		© 2016 Copyright Text
<!--            <a class="grey-text text-lighten-4 right" href="#!">Blog</a>-->
	</div>
	</div>
</footer> 