 <!--Navigation menu (Header section)-->
<script>
	$(document).ready(function(){
		$(".button-collapse").sideNav(); 
		$('.dropdown-button').dropdown({hover:false});
	});

</script>
<ul id="appsDropdownForNonMobile" class="dropdown-content">
	<li><a href="#!">Carry the Flame</a></li>
	<li class="divider"></li>
	<li><a href="#!">Sudoku All Solver</a></li>
	<li class="divider"></li>
	<li><a href="/apps/snakes-ergo">Snakes Ergo</a></li>
	<li class="divider"></li>
	<li><a href="#!">Laying Bricks</a></li>
</ul>
<ul id="appsDropdownMobile" class="dropdown-content">
	<li><a href="#!">Carry the Flame</a></li>
	<li class="divider"></li>
	<li><a href="#!">Sudoku All Solver</a></li>
	<li class="divider"></li>
	<li><a href="/apps/snakes-ergo">Snakes Ergo</a></li>
	<li class="divider"></li>
	<li><a href="#!">Laying Bricks</a></li>
</ul>
<ul id="projectsDropdownForNonMobile" class="dropdown-content">
	<li><a href="#!">Timeshift</a></li>
	<li class="divider"></li>
	<li><a href="#!">Graph It</a></li>
	<li class="divider"></li>
	<li><a href="#!">Spot Search</a></li>
</ul>
<ul id="projectsDropdownMobile" class="dropdown-content">
	<li><a href="#!">Timeshift</a></li>
	<li class="divider"></li>
	<li><a href="#!">Graph It</a></li>
	<li class="divider"></li>
	<li><a href="#!">Spot Search</a></li>
</ul>
<nav>
	<div class="nav-wrapper">  
		<a href="/" class="brand-logo valign">
		<img src="../images/logo.svg"/ alt="logo" style="height:100%;padding:7px">
		</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a class="dropdown-button" href="#!" data-activates="appsDropdownForNonMobile">Apps <i class="material-icons right">arrow_drop_down</i></a></li>
		<li><a class="dropdown-button" href="#!" data-activates="projectsDropdownForNonMobile">Projects <i class="material-icons right">arrow_drop_down</i></a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a class="dropdown-button" href="#!" data-activates="appsDropdownMobile">Apps<i class="material-icons right">arrow_drop_down</i></a></li>
		<li><a class="dropdown-button" href="#!" data-activates="projectsDropdownMobile">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
		</ul>
	</div>
</nav>