
      <script type="text/javascript" src="/js/venn-diagram.js"></script>        
        <style>
            #vennDiagramContainer{
/*                width: 50%;*/
                margin: 0 auto;
/*                padding-top: 150px;*/
/*                padding-bottom: 150px;*/
                
                /* for center alignment*/
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                transform-style: preserve-3d;
            }
            
            .explainer{
                background-color: blueviolet;
            }
			/* For larger devices*/
			@media only screen and (min-width:992px){
				#vennDiagramContainer{ display: block;}
				#vennDiagramMobile{ display: none;}
			}
			/* For mobile devices*/
			@media only screen and (max-width:992px){
				#vennDiagramContainer{ display: none;}
				#vennDiagramMobile{ display: block;}
			}
        </style>
		<!--This will only be shown for mobile-->
		<img id="vennDiagramMobile" src="/images/landing-page/skill-venn-mobile.svg">
        <div id='vennDiagramContainer'>
        
          <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="-263 418 612.5 486.7" enable-background="new -263 418 612.5 486.7" xml:space="preserve">
            <g id="background">
            </g>
            <g id="vennLeft">
                
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="486.1445" y1="528.1539" x2="389.6448" y2="704.3226" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#00AEEF"/>
                </linearGradient>
                <path fill="url(#SVGID_1_)" d="M16.3,629.4c-2.3-8.3-3.6-17-3.6-26.1c0-25.7,10.2-49.2,26.5-66.3c-17.4-18.5-42.3-29.8-69.7-29.8
                    c-53.1,0-96.2,43.1-96.2,96.1c0,45.7,31.9,83.9,74.6,93.7C-42.9,664.2-16.9,638.1,16.3,629.4z"/>
            </g>
            <g id="vennRight">
                
                    <linearGradient id="appsPath_1_" gradientUnits="userSpaceOnUse" x1="526.1876" y1="556.2199" x2="655.4205" y2="674.9747" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#8DC63F"/>
                </linearGradient>
                <path id="appsPath" fill="url(#appsPath_1_)" d="M109,508.2c-27.4,0-52.1,11.5-69.7,30.1c16.2,17.2,26.5,40.4,26.5,66.1
                    c0,8.7-1.1,17.2-3.4,25.1c34.4,8,61.6,34,71.1,67.8c41.3-10.6,71.7-48.4,71.7-92.9C204.9,551.1,162,508.2,109,508.2z"/>
            </g>
            <g id="vennBottom">
                <g>
                    
                        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="596.61" y1="587.6452" x2="603.61" y2="400.1452" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_2_)" d="M117.7,665.7c0.4,0.4,0.8,0.9,0.9,1.5C118.4,666.6,118.1,666.2,117.7,665.7z"/>
                    
                        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="591.2788" y1="587.446" x2="598.2787" y2="399.946" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_3_)" d="M112.2,658.8c0.4,0.4,0.9,0.9,1.3,1.5C112.9,659.8,112.6,659.4,112.2,658.8z"/>
                    
                        <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="594.1168" y1="587.5521" x2="601.1168" y2="400.0518" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_4_)" d="M114.7,661.5c0.8,0.8,1.1,1.5,1.9,2.3C115.8,663.2,115.1,662.5,114.7,661.5z"/>
                    
                        <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="586.1976" y1="587.2563" x2="593.1976" y2="399.7564" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_5_)" d="M108.6,655.1c-0.4-0.4-0.9-1.1-1.5-1.5C107.6,654.1,108.2,654.7,108.6,655.1z"/>
                    
                        <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="588.8439" y1="587.3552" x2="595.8439" y2="399.8552" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_6_)" d="M109.7,656.2c0.4,0.4,0.9,0.9,1.5,1.5C110.6,657.1,110.1,656.8,109.7,656.2z"/>
                    
                        <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="576.7824" y1="586.9049" x2="583.782" y2="399.405" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_7_)" d="M97.7,645.7c0.8,0.4,1.1,0.9,1.9,1.5C98.8,646.6,98.3,646.2,97.7,645.7z"/>
                    
                        <linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="582.9757" y1="587.1362" x2="589.9757" y2="399.6362" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_8_)" d="M102.9,650c1.1,1.1,2.5,2.1,3.6,3.2C105.4,652,104.2,651.1,102.9,650z"/>
                    
                        <linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="541.8927" y1="585.6024" x2="548.8927" y2="398.1025" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_9_)" d="M62.1,629.4c1.9,0.4,4,0.9,5.9,1.7C66.3,630.3,64.2,629.9,62.1,629.4c0,0.2,0,0.2,0,0.2
                        S62.1,629.7,62.1,629.4z"/>
                    
                        <linearGradient id="SVGID_10_" gradientUnits="userSpaceOnUse" x1="579.5502" y1="587.0082" x2="586.5501" y2="399.5082" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_10_)" d="M100.4,647.9c0.5,0.4,1.1,0.9,1.9,1.5C101.5,648.7,101,648.3,100.4,647.9z"/>
                    
                        <linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="606.5727" y1="588.0172" x2="613.5726" y2="400.517" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_11_)" d="M127.8,682.5c0.2,0.4,0.4,1.1,0.8,1.5C128.2,683.4,128,683,127.8,682.5z"/>
                    
                        <linearGradient id="SVGID_12_" gradientUnits="userSpaceOnUse" x1="609.3665" y1="588.1212" x2="616.3665" y2="400.6215" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_12_)" d="M130.9,689.5c0.2,0.4,0.4,0.9,0.4,1.3C131.1,690.4,130.9,689.9,130.9,689.5z"/>
                    
                        <linearGradient id="SVGID_13_" gradientUnits="userSpaceOnUse" x1="608.0244" y1="588.0712" x2="615.0244" y2="400.5713" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_13_)" d="M129.3,685.9c0.2,0.4,0.4,1.1,0.8,1.5C129.7,687,129.6,686.5,129.3,685.9z"/>
                    
                        <linearGradient id="SVGID_14_" gradientUnits="userSpaceOnUse" x1="610.764" y1="588.1736" x2="617.7637" y2="400.6736" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_14_)" d="M132.4,694.2c0.2,0.4,0.2,0.9,0.4,1.5C132.8,695.1,132.6,694.5,132.4,694.2z"/>
                    
                        <linearGradient id="SVGID_15_" gradientUnits="userSpaceOnUse" x1="600.712" y1="587.7981" x2="607.712" y2="400.2982" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_15_)" d="M121.8,671.6c0.2,0.4,0.8,0.9,0.9,1.5C122.3,672.6,122.2,672,121.8,671.6z"/>
                    
                        <linearGradient id="SVGID_16_" gradientUnits="userSpaceOnUse" x1="598.712" y1="587.7236" x2="605.7119" y2="400.2236" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_16_)" d="M119.8,668.7c0.4,0.4,0.8,0.9,0.9,1.5C120.5,669.5,120.2,669.1,119.8,668.7z"/>
                    
                        <linearGradient id="SVGID_17_" gradientUnits="userSpaceOnUse" x1="604.9016" y1="587.9547" x2="611.9016" y2="400.4547" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_17_)" d="M126.1,679.3c0.2,0.4,0.4,0.9,0.8,1.5C126.7,680.2,126.3,679.7,126.1,679.3z"/>
                    
                        <linearGradient id="SVGID_18_" gradientUnits="userSpaceOnUse" x1="602.6475" y1="587.8705" x2="609.6475" y2="400.3705" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_18_)" d="M123.8,674.9c0.2,0.4,0.5,0.8,0.8,1.3C124.2,675.6,124.1,675.3,123.8,674.9z"/>
                    
                        <linearGradient id="SVGID_19_" gradientUnits="userSpaceOnUse" x1="565.9572" y1="586.5007" x2="572.9572" y2="399.0009" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_19_)" d="M87,638.8c0.8,0.4,1.5,0.9,2.3,1.3C88.3,639.8,87.6,639.2,87,638.8z"/>
                    
                        <linearGradient id="SVGID_20_" gradientUnits="userSpaceOnUse" x1="522.1436" y1="584.8651" x2="529.1435" y2="397.365" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_20_)" d="M47.6,660.4c0,0.2-0.2,0.2-0.2,0.4l0,0C47.4,660.6,47.4,660.6,47.6,660.4z"/>
                    
                        <linearGradient id="SVGID_21_" gradientUnits="userSpaceOnUse" x1="520.3323" y1="550.1622" x2="520.3323" y2="550.1622" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_21_)" d="M44.7,664.2L44.7,664.2L44.7,664.2L44.7,664.2z"/>
                    
                        <linearGradient id="SVGID_22_" gradientUnits="userSpaceOnUse" x1="520.2183" y1="584.7933" x2="527.2183" y2="397.2933" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_22_)" d="M46.8,661.1L46.8,661.1c-0.8,0.9-1.3,1.9-2.1,2.8C45.7,663,46.3,661.9,46.8,661.1z"/>
                    
                        <linearGradient id="SVGID_23_" gradientUnits="userSpaceOnUse" x1="524.2934" y1="584.9452" x2="525.9635" y2="540.2079" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_23_)" d="M49.5,657.7L49.5,657.7C49.3,657.7,49.3,657.7,49.5,657.7L49.5,657.7z"/>
                    
                        <linearGradient id="SVGID_24_" gradientUnits="userSpaceOnUse" x1="512.6587" y1="584.5109" x2="519.6586" y2="397.011" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_24_)" d="M133.3,697.2c-7.8,2.1-16,3.1-24.4,3.1c-27.4,0-52.1-11.5-69.7-30.1
                        C21.9,688.8-3,700.3-30.4,700.3c-7.4,0-14.5-0.9-21.4-2.3c-2.1,8-3.4,16.4-3.4,25.4c0,53.1,43.1,96.1,96.1,96.1
                        s96.1-43.1,96.1-96.1C136.8,714.2,135.6,705.3,133.3,697.2z"/>
                    
                        <linearGradient id="SVGID_25_" gradientUnits="userSpaceOnUse" x1="571.0645" y1="586.6916" x2="578.0644" y2="399.1914" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_25_)" d="M89.5,640.3c2.5,1.5,5,3.1,7.2,4.7C94.4,643.4,92.2,641.9,89.5,640.3z"/>
                    
                        <linearGradient id="SVGID_26_" gradientUnits="userSpaceOnUse" x1="529.5436" y1="564.032" x2="529.5436" y2="564.032" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_26_)" d="M53.4,651.1L53.4,651.1L53.4,651.1z"/>
                    
                        <linearGradient id="SVGID_27_" gradientUnits="userSpaceOnUse" x1="513.0949" y1="584.5272" x2="520.0949" y2="397.0273" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_27_)" d="M39.4,670.1c0,0,0,0-0.2,0.2C39.4,670.1,39.4,670.1,39.4,670.1L39.4,670.1z"/>
                    
                        <linearGradient id="SVGID_28_" gradientUnits="userSpaceOnUse" x1="515.1444" y1="544.3391" x2="515.1444" y2="544.3391" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_28_)" d="M39.8,669.7L39.8,669.7L39.8,669.7L39.8,669.7z"/>
                    
                        <linearGradient id="SVGID_29_" gradientUnits="userSpaceOnUse" x1="547.1281" y1="585.7978" x2="554.1281" y2="398.2979" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_29_)" d="M68.7,631.2c0.9,0.2,1.7,0.5,2.7,0.9C70.4,631.6,69.7,631.4,68.7,631.2z"/>
                    
                        <linearGradient id="SVGID_30_" gradientUnits="userSpaceOnUse" x1="555.1548" y1="586.0975" x2="562.1547" y2="398.5975" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_30_)" d="M72.2,632.2c3.8,1.3,7.6,2.8,11.1,4.7C79.6,635.1,75.9,633.5,72.2,632.2z"/>
                    
                        <linearGradient id="SVGID_31_" gradientUnits="userSpaceOnUse" x1="562.6449" y1="586.3771" x2="569.6449" y2="398.877" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_31_)" d="M83.8,637.1c0.8,0.4,1.5,0.8,2.3,1.1C85.3,638.1,84.6,637.7,83.8,637.1z"/>
                    
                        <linearGradient id="SVGID_32_" gradientUnits="userSpaceOnUse" x1="529.8281" y1="585.1519" x2="536.8281" y2="397.6519" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_32_)" d="M53.4,651.1c0.8-1.1,1.1-2.1,1.9-3.4l0,0C54.6,649.1,54,650.2,53.4,651.1L53.4,651.1z"/>
                    
                        <linearGradient id="SVGID_33_" gradientUnits="userSpaceOnUse" x1="531.652" y1="585.2201" x2="538.652" y2="397.72" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_33_)" d="M56.7,644.5c-0.4,1.1-0.9,2.1-1.5,3.1C55.7,646.6,56.3,645.7,56.7,644.5z"/>
                    
                        <linearGradient id="SVGID_34_" gradientUnits="userSpaceOnUse" x1="533.6972" y1="585.2963" x2="540.6972" y2="397.7963" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_34_)" d="M58.2,641.3c-0.2,0.8-0.8,1.5-0.9,2.3C57.4,642.8,57.8,642,58.2,641.3z"/>
                    
                        <linearGradient id="SVGID_35_" gradientUnits="userSpaceOnUse" x1="535.3294" y1="585.3574" x2="542.3291" y2="397.8573" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#F7941E"/>
                    </linearGradient>
                    <path fill="url(#SVGID_35_)" d="M58.6,640.3c0.4-0.9,0.9-2.1,1.1-3.4C59.2,638.1,59,639.2,58.6,640.3z"/>
                </g>
            </g>
            <g id="vennLeftRight">
                <g>
                    
                        <linearGradient id="SVGID_36_" gradientUnits="userSpaceOnUse" x1="524.0851" y1="553.9585" x2="524.5851" y2="677.4585" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_36_)" d="M49.3,657.7L49.3,657.7c-0.8,0.9-1.5,2.1-2.1,3.1C47.7,659.8,48.7,658.7,49.3,657.7z"/>
                    
                        <linearGradient id="SVGID_37_" gradientUnits="userSpaceOnUse" x1="517.8715" y1="553.9837" x2="518.3715" y2="677.4837" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_37_)" d="M44.7,664.2c-1.5,1.9-3.1,3.8-4.7,5.5C41.5,668,43,666.1,44.7,664.2z"/>
                    
                        <linearGradient id="SVGID_38_" gradientUnits="userSpaceOnUse" x1="504.3352" y1="554.0385" x2="504.8352" y2="677.5385" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_38_)" d="M31.7,661.3c0-0.2,0-0.2-0.2-0.2c-1.5-1.9-2.8-3.8-4-5.9C28.9,657.4,30.2,659.4,31.7,661.3z"/>
                    
                        <linearGradient id="SVGID_39_" gradientUnits="userSpaceOnUse" x1="507.6906" y1="554.0248" x2="508.1906" y2="677.525" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_39_)" d="M33.8,664.4L33.8,664.4c-0.8-0.9-1.5-1.9-2.1-2.8C32.5,662.5,33.2,663.4,33.8,664.4z"/>
                    
                        <linearGradient id="SVGID_40_" gradientUnits="userSpaceOnUse" x1="513.7394" y1="554.0004" x2="514.2394" y2="677.5006" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_40_)" d="M16.6,630.1c0.4-0.2,0.9-0.2,1.1-0.2c0.8-0.2,1.5-0.4,2.3-0.5c0.4-0.2,0.9-0.2,1.5-0.4
                        c0.8-0.2,1.5-0.2,2.1-0.4c0.4,0,0.9-0.2,1.3-0.2c1.1-0.2,2.3-0.4,3.4-0.4c0.2,0,0.4-0.2,0.8-0.2c0.9-0.2,1.9-0.2,2.8-0.2
                        c0.4,0,0.9,0,1.1,0c0.9-0.2,1.7-0.2,2.7-0.2c0.4,0,0.8,0,1.1,0c1.1,0,2.5,0,3.8,0c1.1,0,2.5,0,3.8,0c0.2,0,0.8,0,0.9,0
                        c1.1,0,2.3,0,3.4,0.2h0.2c1.1,0.2,2.3,0.2,3.4,0.4c0.4,0,0.8,0.2,0.9,0.2c0.9,0.2,1.9,0.2,3.1,0.4c0.2,0,0.5,0.2,0.8,0.2
                        c0.9,0.2,1.9,0.4,2.8,0.5c0.4,0,0.8,0.2,1.1,0.2c0.2,0.2,0.4,0.2,0.8,0.2c-0.8,2.7-1.5,5-2.3,7.6l0,0c-1.3,3.6-2.8,7.2-4.7,10.5
                        c0,0,0,0,0,0.2c6.6-13,10.4-28,10.4-43.5c0-25.7-10.1-49-26.5-66.1c-16.2,17.2-26.5,40.4-26.5,66.1
                        C12.8,613.3,14.1,621.9,16.6,630.1C16.4,630.3,16.6,630.3,16.6,630.1z"/>
                    
                        <linearGradient id="SVGID_41_" gradientUnits="userSpaceOnUse" x1="527.3994" y1="553.9451" x2="527.8994" y2="677.4451" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_41_)" d="M53.4,651.1c-1.1,2.3-2.7,4.4-4,6.6C50.6,655.6,51.9,653.5,53.4,651.1z"/>
                    
                        <linearGradient id="SVGID_42_" gradientUnits="userSpaceOnUse" x1="530.2903" y1="553.9333" x2="530.7902" y2="677.4333" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_42_)" d="M55.1,647.9c-0.5,1.1-1.1,2.3-1.9,3.4C54,650.2,54.6,649.1,55.1,647.9z"/>
                    
                        <linearGradient id="SVGID_43_" gradientUnits="userSpaceOnUse" x1="521.4526" y1="553.9691" x2="521.9526" y2="677.4692" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_43_)" d="M44.7,664c0.8-0.9,1.5-1.9,2.1-2.8C46.3,662.1,45.5,663,44.7,664L44.7,664z"/>
                    
                        <linearGradient id="SVGID_44_" gradientUnits="userSpaceOnUse" x1="500.6609" y1="554.0533" x2="501.1609" y2="677.5534" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_44_)" d="M27.2,654.8c-0.5-0.9-1.1-1.9-1.9-2.8c0-0.2,0-0.2-0.2-0.4C26,652.8,26.6,653.7,27.2,654.8z"/>
                    
                        <linearGradient id="SVGID_45_" gradientUnits="userSpaceOnUse" x1="491.3676" y1="554.0909" x2="491.8676" y2="677.5909" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_45_)" d="M18.6,637.7L18.6,637.7c-0.9-2.5-1.7-5-2.3-7.4C17.2,632.8,17.9,635.2,18.6,637.7z"/>
                    
                        <linearGradient id="SVGID_46_" gradientUnits="userSpaceOnUse" x1="512.3137" y1="554.0062" x2="512.8137" y2="677.5062" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_46_)" d="M39.2,670.2L39.2,670.2C39,670,39,670,39,669.8c-0.8-0.8-1.5-1.7-2.1-2.5c0-0.2-0.2-0.2-0.2-0.2
                        c-0.8-0.9-1.5-1.7-2.1-2.7C35.7,666.6,37.4,668.5,39.2,670.2c0-0.2,0.2-0.2,0.4-0.4C39.4,670.1,39.2,670.2,39.2,670.2z"/>
                    
                        <linearGradient id="SVGID_47_" gradientUnits="userSpaceOnUse" x1="493.5082" y1="554.0822" x2="494.0082" y2="677.5823" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_47_)" d="M20.1,641.1L20.1,641.1c-0.4-1.1-0.9-2.3-1.3-3.4C19.4,638.8,19.5,640,20.1,641.1z"/>
                    
                        <linearGradient id="SVGID_48_" gradientUnits="userSpaceOnUse" x1="498.8469" y1="554.0609" x2="499.3469" y2="677.5607" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_48_)" d="M25.3,651.5c-0.5-1.1-1.1-2.1-1.7-3.2C24.1,649.4,24.7,650.3,25.3,651.5z"/>
                    
                        <linearGradient id="SVGID_49_" gradientUnits="userSpaceOnUse" x1="495.1117" y1="554.0759" x2="495.6117" y2="677.5759" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_49_)" d="M21.7,644.7c-0.4-1.1-0.9-2.1-1.5-3.4C20.9,642.6,21.3,643.8,21.7,644.7z"/>
                    
                        <linearGradient id="SVGID_50_" gradientUnits="userSpaceOnUse" x1="496.8211" y1="554.0688" x2="497.3211" y2="677.5689" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#049486"/>
                    </linearGradient>
                    <path fill="url(#SVGID_50_)" d="M21.7,644.9c0.5,1.1,0.9,2.3,1.7,3.4l0,0C23,647.2,22.2,646.1,21.7,644.9
                        C21.8,644.9,21.8,644.9,21.7,644.9z"/>
                </g>
            </g>
            <g id="vennCore">
                
                    <radialGradient id="SVGID_51_" cx="514.63" cy="569.883" r="23.5683" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)" gradientUnits="userSpaceOnUse">
                    <stop  offset="0" style="stop-color:#5C99D2"/>
                    <stop  offset="1" style="stop-color:#2D2D85"/>
                </radialGradient>
                <path fill="url(#SVGID_51_)" d="M61.3,629.4c-0.4-0.2-0.8-0.2-1.1-0.4c-0.9-0.2-1.9-0.4-2.8-0.5c-0.2,0-0.5,0-0.8,0
                    c-0.9-0.2-1.9-0.4-3.1-0.4c-0.4-0.2-0.8-0.2-0.9-0.2c-1.1-0.2-2.3-0.2-3.4-0.4H49c-1.1-0.2-2.3-0.2-3.4-0.2c-0.2,0-0.8,0-0.9,0
                    c-1.1,0-2.5,0-3.8,0c-1.1,0-2.5,0-3.8,0c-0.4,0-0.8,0-1.1,0.2c-0.9,0-1.7,0.2-2.7,0.2c-0.4,0-0.9,0-1.1,0c-0.9,0.2-1.9,0.2-2.8,0.4
                    c-0.2,0-0.4,0-0.8,0c-1.1,0.2-2.3,0.2-3.4,0.4c-0.4,0-0.9,0.2-1.3,0.2c-0.8,0.2-1.5,0.2-2.1,0.4c-0.4,0.2-0.9,0.2-1.5,0.2
                    c-0.8,0.2-1.5,0.4-2.3,0.5c-0.4,0.2-0.9,0.2-1.1,0.4l0,0l0,0c0.8,2.5,1.5,4.7,2.3,7.2c0,0.2,0,0.2,0,0.4c0.4,1.1,0.9,2.3,1.3,3.4
                    c0,0,0,0.2,0.2,0.4c0.4,1.1,0.9,2.3,1.5,3.4c0,0,0,0,0,0.2c0.5,1.1,0.9,2.1,1.7,3.4c0,0,0,0,0,0.2c0.5,1.1,1.1,2.1,1.7,3.2
                    c0,0.2,0.2,0.2,0.2,0.4c0.5,0.9,1.1,1.9,1.9,2.8c0,0,0.2,0.2,0.2,0.4c1.1,1.9,2.7,4,4,5.9c0,0.2,0.2,0.4,0.2,0.4
                    c0.8,0.9,1.3,1.9,2.1,2.7c0,0.2,0.2,0.2,0.4,0.4c0.8,0.8,1.5,1.7,2.1,2.7l0.2,0.2c0.8,0.8,1.5,1.7,2.1,2.5l0.2,0.2v0.2
                    c0-0.2,0.2-0.2,0.4-0.4c0-0.2,0.2-0.2,0.2-0.4c1.7-1.7,3.4-3.6,4.7-5.5v-0.2c0.8-0.9,1.5-1.9,2.1-2.8c0,0,0-0.2,0.2-0.2
                    c0.8-0.9,1.5-2.1,2.1-3.1l0,0c1.5-2.1,2.8-4.2,4-6.6l0,0c0.8-1.1,1.1-2.3,1.9-3.4v-0.5c1.9-3.4,3.4-7,4.7-10.5l0,0
                    c0.9-2.5,1.7-5,2.3-7.6C61.9,629.4,61.7,629.4,61.3,629.4z"/>
            </g>
            <g id="vennLeftBottom">
                <g>
                    
                        <linearGradient id="SVGID_52_" gradientUnits="userSpaceOnUse" x1="534.4119" y1="564.8237" x2="440.412" y2="504.8238" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_52_)" d="M49.5,657.7c1.5-2.1,2.8-4.2,4-6.4C52.1,653.3,50.8,655.6,49.5,657.7z"/>
                    
                        <linearGradient id="SVGID_53_" gradientUnits="userSpaceOnUse" x1="532.3662" y1="568.0285" x2="438.3662" y2="508.0285" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_53_)" d="M55.4,647.8C55.4,647.8,55.4,647.9,55.4,647.8C55.1,647.8,55.1,647.8,55.4,647.8L55.4,647.8z"/>
                    
                        <linearGradient id="SVGID_54_" gradientUnits="userSpaceOnUse" x1="529.5436" y1="564.032" x2="529.5436" y2="564.032" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_54_)" d="M53.4,651.1L53.4,651.1L53.4,651.1z"/>
                    
                        <linearGradient id="SVGID_55_" gradientUnits="userSpaceOnUse" x1="527.0807" y1="576.3095" x2="433.0806" y2="516.3094" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_55_)" d="M59.8,636.9L59.8,636.9L59.8,636.9c0.9-2.3,1.7-4.7,2.3-7.4C61.3,632.2,60.8,634.7,59.8,636.9z"/>
                    
                        <linearGradient id="SVGID_56_" gradientUnits="userSpaceOnUse" x1="529.9724" y1="571.779" x2="435.9724" y2="511.779" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_56_)" d="M58.2,641.3c0-0.4,0.2-0.5,0.4-0.9C58.4,640.7,58.2,640.9,58.2,641.3z"/>
                    
                        <linearGradient id="SVGID_57_" gradientUnits="userSpaceOnUse" x1="520.6811" y1="586.3354" x2="426.6811" y2="526.3354" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_57_)" d="M49.1,627.5h-0.2C48.9,627.5,48.9,627.5,49.1,627.5z"/>
                    
                        <linearGradient id="SVGID_58_" gradientUnits="userSpaceOnUse" x1="536.1025" y1="562.1754" x2="442.1026" y2="502.1753" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_58_)" d="M46.8,661.1c0,0,0-0.2,0.2-0.2C47,660.7,47,660.9,46.8,661.1z"/>
                    
                        <linearGradient id="SVGID_59_" gradientUnits="userSpaceOnUse" x1="521.9831" y1="584.2954" x2="427.9832" y2="524.2954" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_59_)" d="M53.4,627.9c0.9,0,1.9,0.2,3.1,0.4c-2.5-0.4-5-0.8-7.6-0.9c1.1,0,2.3,0.2,3.4,0.4
                        C52.9,627.9,53.2,627.9,53.4,627.9z"/>
                    
                        <linearGradient id="SVGID_60_" gradientUnits="userSpaceOnUse" x1="536.8584" y1="560.9909" x2="442.8585" y2="500.9909" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_60_)" d="M44.9,663.8C44.9,663.8,44.7,663.8,44.9,663.8l-0.2,0.2L44.9,663.8z"/>
                    
                        <linearGradient id="SVGID_61_" gradientUnits="userSpaceOnUse" x1="535.6312" y1="562.9133" x2="441.6312" y2="502.9135" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_61_)" d="M49.3,657.7c-0.5,0.9-1.1,1.7-1.9,2.7C48.1,659.6,48.7,658.7,49.3,657.7L49.3,657.7z"/>
                    
                        <linearGradient id="SVGID_62_" gradientUnits="userSpaceOnUse" x1="520.0201" y1="587.371" x2="426.0201" y2="527.371" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_62_)" d="M48.7,627.5c-1.1-0.2-2.3-0.2-3.4-0.2C46.6,627.4,47.7,627.4,48.7,627.5z"/>
                    
                        <linearGradient id="SVGID_63_" gradientUnits="userSpaceOnUse" x1="531.0493" y1="570.092" x2="437.0493" y2="510.092" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_63_)" d="M56.7,644.5c0.2-0.4,0.2-0.5,0.4-0.9C57,643.9,56.9,644.3,56.7,644.5z"/>
                    
                        <linearGradient id="SVGID_64_" gradientUnits="userSpaceOnUse" x1="516.8001" y1="592.416" x2="422.8" y2="532.416" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_64_)" d="M36.1,627.4c0.4,0,0.8,0,1.1-0.2C36.7,627.1,36.4,627.4,36.1,627.4z"/>
                    
                        <linearGradient id="SVGID_65_" gradientUnits="userSpaceOnUse" x1="512.1198" y1="599.7482" x2="418.1198" y2="539.7483" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_65_)" d="M16.6,630.1c0.4-0.2,0.9-0.2,1.1-0.2C17.4,629.9,16.8,630.1,16.6,630.1z"/>
                    
                        <linearGradient id="SVGID_66_" gradientUnits="userSpaceOnUse" x1="512.8562" y1="598.5941" x2="418.8563" y2="538.5941" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_66_)" d="M19.9,629.4c0.4,0,0.9-0.2,1.5-0.2C20.9,629.3,20.3,629.4,19.9,629.4z"/>
                    
                        <linearGradient id="SVGID_67_" gradientUnits="userSpaceOnUse" x1="514.8158" y1="595.5242" x2="420.8158" y2="535.5242" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_67_)" d="M30.9,627.5c-0.9,0.2-1.9,0.2-2.7,0.4c0.2,0,0.4-0.2,0.8-0.2C29.8,627.7,30.6,627.7,30.9,627.5z"
                        />
                    
                        <linearGradient id="SVGID_68_" gradientUnits="userSpaceOnUse" x1="513.6235" y1="597.3921" x2="419.6235" y2="537.3921" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_68_)" d="M23.6,628.7c0.4-0.2,0.9-0.2,1.3-0.2C24.5,628.5,24.1,628.5,23.6,628.7z"/>
                    
                        <linearGradient id="SVGID_69_" gradientUnits="userSpaceOnUse" x1="538.1287" y1="559.0009" x2="444.1286" y2="499.0008" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_69_)" d="M39.4,670.1c0-0.2,0.2-0.2,0.2-0.4C39.8,669.9,39.6,669.9,39.4,670.1z"/>
                    
                        <linearGradient id="SVGID_70_" gradientUnits="userSpaceOnUse" x1="523.5827" y1="581.7899" x2="429.5826" y2="521.7899" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_70_)" d="M57.3,628.5c-0.2,0-0.4,0-0.8,0C56.9,628.5,57.3,628.5,57.3,628.5z"/>
                    
                        <linearGradient id="SVGID_71_" gradientUnits="userSpaceOnUse" x1="524.4537" y1="580.425" x2="430.4536" y2="520.425" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_71_)" d="M39.2,670.2L39.2,670.2C39,670,39,670,39,669.8c-0.8-0.8-1.5-1.7-2.1-2.5c0-0.2-0.2-0.2-0.2-0.2
                        c-0.8-0.9-1.5-1.7-2.1-2.7c0-0.2-0.2-0.2-0.4-0.4c-0.8-0.8-1.5-1.7-2.1-2.7c0,0-0.2-0.2-0.2-0.4c-1.5-1.9-2.8-3.8-4-5.9
                        c0-0.2-0.2-0.4-0.2-0.4c-0.5-0.9-1.1-1.9-1.9-2.8c0-0.2-0.2-0.4-0.2-0.4c-0.5-1.1-1.1-2.1-1.7-3.2c0,0,0,0,0-0.2
                        c-0.5-1.1-1.1-2.3-1.7-3.4c0,0,0,0,0-0.2c-0.4-1.1-0.9-2.1-1.5-3.4c0-0.2,0-0.2-0.2-0.4c-0.4-1.1-0.9-2.3-1.3-3.4
                        c0-0.2,0-0.2,0-0.4c-0.9-2.3-1.7-4.7-2.3-7.2l0,0l0,0c-33,8.7-59.5,34.5-68.4,67.7c6.8,1.7,14.1,2.3,21.4,2.3
                        c27.6,0,52.5-11.5,69.9-30.3C39.2,670.2,39.2,670.2,39.2,670.2z"/>
                    
                        <linearGradient id="SVGID_72_" gradientUnits="userSpaceOnUse" x1="525.5339" y1="578.7327" x2="431.5338" y2="518.7328" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_72_)" d="M61.3,629.4c0.2,0,0.4,0,0.8,0.2l0,0C61.9,629.4,61.7,629.4,61.3,629.4z"/>
                    
                        <linearGradient id="SVGID_73_" gradientUnits="userSpaceOnUse" x1="515.9611" y1="593.73" x2="421.9611" y2="533.7301" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_73_)" d="M35,627.4c-0.9,0.2-1.9,0.2-2.8,0.2c0.4,0,0.9,0,1.1,0C33.8,627.4,34.6,627.4,35,627.4z"/>
                    
                        <linearGradient id="SVGID_74_" gradientUnits="userSpaceOnUse" x1="524.2543" y1="580.7374" x2="430.2543" y2="520.7375" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_74_)" d="M57.3,628.5c0.9,0.2,1.9,0.4,2.8,0.5C59.2,628.9,58.4,628.7,57.3,628.5z"/>
                    
                        <linearGradient id="SVGID_75_" gradientUnits="userSpaceOnUse" x1="537.5856" y1="559.8515" x2="443.5855" y2="499.8515" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_75_)" d="M44.7,664.2c-1.5,1.9-3.1,3.8-4.7,5.5C41.5,668,43,666.1,44.7,664.2z"/>
                    
                        <linearGradient id="SVGID_76_" gradientUnits="userSpaceOnUse" x1="518.606" y1="589.5861" x2="424.6061" y2="529.5861" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#C57AB3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_76_)" d="M40.8,627.1c1.1,0,2.5,0,3.8,0.2C43.2,627.1,42.1,627.1,40.8,627.1z"/>
                </g>
            </g>
            <g id="vennRightBottom">
                
                    <linearGradient id="SVGID_77_" gradientUnits="userSpaceOnUse" x1="505.257" y1="573.7374" x2="592.757" y2="520.2375" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_77_)" d="M18.8,637.9c0-0.2,0-0.2,0-0.4c-0.9-2.3-1.7-4.7-2.3-7.2C17.2,632.9,17.9,635.2,18.8,637.9z"/>
                
                    <linearGradient id="SVGID_78_" gradientUnits="userSpaceOnUse" x1="500.8257" y1="566.4902" x2="588.3257" y2="512.9902" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_78_)" d="M23.4,648.3c-0.5-1.1-1.1-2.3-1.7-3.4c0,0,0,0,0-0.2C22.4,646.1,23,647.2,23.4,648.3L23.4,648.3z"
                    />
                
                    <linearGradient id="SVGID_79_" gradientUnits="userSpaceOnUse" x1="507.6709" y1="577.6851" x2="595.171" y2="524.1851" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_79_)" d="M19.9,629.4c-0.8,0.2-1.5,0.4-2.3,0.5C18.5,629.7,19.2,629.4,19.9,629.4z"/>
                
                    <linearGradient id="SVGID_80_" gradientUnits="userSpaceOnUse" x1="502.776" y1="569.6793" x2="590.2759" y2="516.1793" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_80_)" d="M20.1,641.1c0-0.2-0.2-0.4-0.2-0.8c0.2,0.4,0.2,0.8,0.4,1.1C20.3,641.5,20.3,641.3,20.1,641.1z"/>
                
                    <linearGradient id="SVGID_81_" gradientUnits="userSpaceOnUse" x1="519.2038" y1="596.5477" x2="606.7039" y2="543.0477" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_81_)" d="M56.5,628.5c0.2,0,0.5,0,0.8,0C57.3,628.5,56.9,628.5,56.5,628.5z"/>
                
                    <linearGradient id="SVGID_82_" gradientUnits="userSpaceOnUse" x1="516.363" y1="591.9016" x2="603.863" y2="538.4016" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_82_)" d="M44.3,627.1c0.2,0,0.8,0,0.9,0C45.1,627.4,44.7,627.1,44.3,627.1z"/>
                
                    <linearGradient id="SVGID_83_" gradientUnits="userSpaceOnUse" x1="519.889" y1="597.6683" x2="607.389" y2="544.1683" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_83_)" d="M60.2,629.3c0.4,0.2,0.8,0.2,1.1,0.2C60.9,629.3,60.8,629.3,60.2,629.3z"/>
                
                    <linearGradient id="SVGID_84_" gradientUnits="userSpaceOnUse" x1="509.0615" y1="579.9594" x2="596.5615" y2="526.4594" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_84_)" d="M21.3,629.1c0.8-0.2,1.5-0.2,2.1-0.4C23,628.7,22.2,629.1,21.3,629.1z"/>
                
                    <linearGradient id="SVGID_85_" gradientUnits="userSpaceOnUse" x1="517.3415" y1="593.5016" x2="604.8415" y2="540.0017" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_85_)" d="M48.7,627.5h0.2C48.9,627.5,48.9,627.5,48.7,627.5z"/>
                
                    <linearGradient id="SVGID_86_" gradientUnits="userSpaceOnUse" x1="518.3053" y1="595.0782" x2="605.8054" y2="541.5782" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_86_)" d="M53.4,627.9c0.4,0,0.9,0,1.3,0.2c-1.1-0.2-2.7-0.4-3.8-0.4c0.4,0.2,0.9,0.2,1.5,0.2
                    C52.9,627.9,53.2,627.9,53.4,627.9z"/>
                
                    <linearGradient id="SVGID_87_" gradientUnits="userSpaceOnUse" x1="497.2733" y1="560.6799" x2="584.7733" y2="507.1799" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_87_)" d="M31.5,661.1c-1.5-1.9-2.8-3.8-4-5.9c1.3,2.1,2.8,4.2,4.2,6.3C31.7,661.5,31.7,661.3,31.5,661.1z"/>
                
                    <linearGradient id="SVGID_88_" gradientUnits="userSpaceOnUse" x1="495.7033" y1="558.112" x2="583.2033" y2="504.6121" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_88_)" d="M33.8,664.2c0-0.2-0.2-0.2-0.4-0.4c0.2,0.2,0.4,0.5,0.8,0.9C34.2,664.5,34,664.4,33.8,664.2z"/>
                
                    <linearGradient id="SVGID_89_" gradientUnits="userSpaceOnUse" x1="514.7352" y1="589.2393" x2="602.2352" y2="535.7393" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_89_)" d="M37.2,627.1c1.1,0,2.5,0,3.8,0C39.4,627.1,38.2,627.1,37.2,627.1z"/>
                
                    <linearGradient id="SVGID_90_" gradientUnits="userSpaceOnUse" x1="506.7003" y1="576.0978" x2="594.2003" y2="522.5978" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_90_)" d="M16.4,630.3C16.4,630.3,16.6,630.3,16.4,630.3C16.6,630.3,16.4,630.3,16.4,630.3L16.4,630.3
                    L16.4,630.3z"/>
                
                    <linearGradient id="SVGID_91_" gradientUnits="userSpaceOnUse" x1="507.9073" y1="578.0717" x2="595.4071" y2="524.5717" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_91_)" d="M62.1,629.4c-0.8,2.7-1.5,5.1-2.3,7.6l0,0c-1.3,3.8-2.8,7.4-4.7,10.5v0.2c-0.5,1.1-1.1,2.3-1.9,3.4
                    l0,0c-1.1,2.1-2.7,4.4-4,6.6l0,0c-0.8,0.9-1.5,1.9-2.1,3.1c0,0.2,0,0.2-0.2,0.2c-0.8,0.9-1.5,1.9-2.1,2.8v0.2
                    c-1.5,1.9-3.1,3.8-4.7,5.5c0,0.2-0.2,0.2-0.2,0.4s-0.2,0.2-0.4,0.4v-0.2l-0.2-0.2c-0.8-0.8-1.5-1.7-2.1-2.5c0-0.2-0.2-0.2-0.2-0.2
                    s0,0,0-0.2c17.7,20.5,43.8,33.4,72.8,33.4c8.6,0,16.6-1.1,24.4-3.1C123.8,663.4,96.5,637.3,62.1,629.4z"/>
                
                    <linearGradient id="SVGID_92_" gradientUnits="userSpaceOnUse" x1="511.9749" y1="584.7245" x2="599.4749" y2="531.2245" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_92_)" d="M28.9,627.9c0.2,0,0.2,0,0.4-0.2c0.9-0.2,1.9-0.2,2.8-0.2C30.9,627.5,29.8,627.7,28.9,627.9z"/>
                
                    <linearGradient id="SVGID_93_" gradientUnits="userSpaceOnUse" x1="510.6262" y1="582.5187" x2="598.1262" y2="529.0186" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_93_)" d="M25.1,628.5c1.1-0.2,2.3-0.4,3.4-0.4C27.2,628.1,26,628.3,25.1,628.5z"/>
                
                    <linearGradient id="SVGID_94_" gradientUnits="userSpaceOnUse" x1="498.1912" y1="562.1809" x2="585.6912" y2="508.6809" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_94_)" d="M27.2,654.8c0,0,0.2,0.2,0.2,0.4C27.3,655.1,27.3,654.8,27.2,654.8z"/>
                
                    <linearGradient id="SVGID_95_" gradientUnits="userSpaceOnUse" x1="513.3013" y1="586.8941" x2="600.8013" y2="533.394" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_95_)" d="M32.7,627.5c0.2,0,0.4,0,0.8-0.2c0.9-0.2,1.7-0.2,2.7-0.2C34.7,627.4,33.8,627.4,32.7,627.5z"/>
                
                    <linearGradient id="SVGID_96_" gradientUnits="userSpaceOnUse" x1="499.0097" y1="563.5195" x2="586.5095" y2="510.0196" gradientTransform="matrix(0.9445 0 0 -0.9445 -446.7539 1183.8282)">
                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                    <stop  offset="1" style="stop-color:#A9812D"/>
                </linearGradient>
                <path fill="url(#SVGID_96_)" d="M25.4,651.8c0-0.2-0.2-0.2-0.2-0.4c0.4,0.5,0.8,1.1,0.9,1.7C26,652.8,25.8,652.2,25.4,651.8z"/>
            </g>
            <text id="vennLeftTitle" transform="matrix(1 0 0 1 -60.3867 614.2783)" font-family="'MyriadPro-Regular'" font-size="22.6678">Web</text>
            <text id="vennRightTitle" transform="matrix(1 0 0 1 93.0933 614.2783)" font-family="'MyriadPro-Regular'" font-size="22.6678">Apps</text>
            <text id="vennBottomTitle" transform="matrix(1 0 0 1 12.2456 749.8145)" font-family="'MyriadPro-Regular'" font-size="22.6678">Games</text>
            <g id="explainCore2">
                <text transform="matrix(1 0 0 1 194.7148 427.5733)" font-family="'MyriadPro-Bold'" font-size="11.3885">User Experience</text>
                <rect x="194.7" y="431.6" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 194.7148 442.2325)" font-family="'MyriadPro-Regular'" font-size="8">I am still learning though. I designed</text>
                <text transform="matrix(1 0 0 1 194.7148 451.8511)" font-family="'MyriadPro-Regular'" font-size="8">most of my applications using photoshop</text>
                <text transform="matrix(1 0 0 1 194.7148 462.4697)" font-family="'MyriadPro-Regular'" font-size="8">and illustrator.</text>
            </g>
            <g id="explainCore1">
                <text transform="matrix(1 0 0 1 -262.9951 427.5733)" font-family="'MyriadPro-Bold'" font-size="11.3885">Java,Node,iOS</text>
                <rect x="-263" y="431.6" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -262.9951 442.2325)" font-family="'MyriadPro-Regular'" font-size="8">and I work in several languages depending </text>
                <text transform="matrix(1 0 0 1 -262.9951 451.8511)" font-family="'MyriadPro-Regular'" font-size="8">on development needs. I love exploring new</text>
                <text transform="matrix(1 0 0 1 -262.9951 462.1074)" font-family="'MyriadPro-Regular'" font-size="8">tools and technologies.</text>
            </g>
            <g id="explainLeftRight1">
                <text transform="matrix(1 0 0 1 -79.4712 451.2041)" font-family="'MyriadPro-Bold'" font-size="11.3885">Angular JS</text>
                <rect x="-79.5" y="455.2" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -79.4712 464.8633)" font-family="'MyriadPro-Regular'" font-size="8">Experience in component based</text>
                <text transform="matrix(1 0 0 1 -79.4712 475.4819)" font-family="'MyriadPro-Regular'" font-size="8">frontend development. Used it in one</text>
                <text transform="matrix(1 0 0 1 -79.4712 485.1074)" font-family="'MyriadPro-Regular'" font-size="8">of my side projects</text>
            </g>
            <g id="explainLeft1">
                <text transform="matrix(1 0 0 1 -202.1665 470.5962)" font-family="'MyriadPro-Bold'" font-size="11.3885">HTML5</text>
                <rect x="-202.2" y="474.6" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -202.1665 485.2559)" font-family="'MyriadPro-Regular'" font-size="8">Responsive web design. I use </text>
                <text transform="matrix(1 0 0 1 -202.1665 494.8745)" font-family="'MyriadPro-Regular'" font-size="8">bootstrap.css or materialize.css</text>
                <text transform="matrix(1 0 0 1 -202.1665 505.1074)" font-family="'MyriadPro-Regular'" font-size="8">while working on big projects.</text>
            </g>
            <g id="explainLeft2">
                <text transform="matrix(1 0 0 1 -254.5894 537.2109)" font-family="'MyriadPro-Bold'" font-size="11.3885">2 Years work experience</text>
                <rect x="-254.6" y="541.3" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -254.5894 550.8701)" font-family="'MyriadPro-Regular'" font-size="8">as a Java web developer at Nucleus </text>
                <text transform="matrix(1 0 0 1 -254.5894 561.4883)" font-family="'MyriadPro-Regular'" font-size="8">Software. One of the leading companies</text>
                <text transform="matrix(1 0 0 1 -254.5894 571.1074)" font-family="'MyriadPro-Regular'" font-size="8">in the banking sector.</text>
            </g>
            <g id="explainLeft3">
                <text transform="matrix(1 0 0 1 -254.5894 604.458)" font-family="'MyriadPro-Bold'" font-size="11.3885">Spring/Hibernate</text>
                <rect x="-254.6" y="608.6" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -254.5894 619.1182)" font-family="'MyriadPro-Regular'" font-size="8">Used this environment in my last</text>
                <text transform="matrix(1 0 0 1 -254.5894 628.7363)" font-family="'MyriadPro-Regular'" font-size="8">company while working on a project </text>
                <text transform="matrix(1 0 0 1 -254.5894 639.1074)" font-family="'MyriadPro-Regular'" font-size="8">for Abu Dhabhi Housing Authority.</text>
            </g>
            <g id="explainLeft4">
                <text transform="matrix(1 0 0 1 -215.5435 668.9668)" font-family="'MyriadPro-Bold'" font-size="11.3885">Keystone JS</text>
                <rect x="-215.6" y="672.9" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -215.5435 682.625)" font-family="'MyriadPro-Regular'" font-size="8">Built this website using Keystone</text>
                <text transform="matrix(1 0 0 1 -215.5435 693.2441)" font-family="'MyriadPro-Regular'" font-size="8">JS. Also familiar with Express and</text>
                <text transform="matrix(1 0 0 1 -215.5435 703.1074)" font-family="'MyriadPro-Regular'" font-size="8">other Node technologies.</text>
            </g>
            <g id="explainLeftRight2">
                <text transform="matrix(1 0 0 1 62.4204 451.2041)" font-family="'MyriadPro-Bold'" font-size="11.3885">Maven/Gradle</text>
                <rect x="62.4" y="455.2" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 62.4204 464.8633)" font-family="'MyriadPro-Regular'" font-size="8">Configured a multi module Maven</text>
                <text transform="matrix(1 0 0 1 62.4204 475.4819)" font-family="'MyriadPro-Regular'" font-size="8">based project. Also used gradle for</text>
                <text transform="matrix(1 0 0 1 62.4204 485.1074)" font-family="'MyriadPro-Regular'" font-size="8">setup of one of my bigger projects.</text>
            </g>
            <g id="explainRight1">
                <text transform="matrix(1 0 0 1 186.9219 486.7163)" font-family="'MyriadPro-Bold'" font-size="11.3885">JavaFX/Swing</text>
                <rect x="186.9" y="490.7" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 186.9219 501.375)" font-family="'MyriadPro-Regular'" font-size="8">Built an interactive animation tool</text>
                <text transform="matrix(1 0 0 1 186.9219 510.9937)" font-family="'MyriadPro-Regular'" font-size="8">in JavaFX. Used Swing for several other</text>
                <text transform="matrix(1 0 0 1 186.9219 521.1074)" font-family="'MyriadPro-Regular'" font-size="8">smaller projects.</text>
            </g>
            <g id="explainRight2">
                <text transform="matrix(1 0 0 1 213.3144 551.4316)" font-family="'MyriadPro-Bold'" font-size="11.3885">iOS Development</text>
                <rect x="213.3" y="555.5" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 213.3144 566.0908)" font-family="'MyriadPro-Regular'" font-size="8">Made storyboard based applications.</text>
                <text transform="matrix(1 0 0 1 213.3144 575.71)" font-family="'MyriadPro-Regular'" font-size="8">Familiar with most of the Cocoa </text>
                <text transform="matrix(1 0 0 1 213.3144 586.1074)" font-family="'MyriadPro-Regular'" font-size="8">framework and XCode</text>
            </g>
            <g id="explainRight3">
                <text transform="matrix(1 0 0 1 218.0137 620.2305)" font-family="'MyriadPro-Bold'" font-size="11.3885">Core Data</text>
                <rect x="218" y="624.3" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 218.0137 634.8897)" font-family="'MyriadPro-Regular'" font-size="8">Used the framework in several small</text>
                <text transform="matrix(1 0 0 1 218.0137 644.5088)" font-family="'MyriadPro-Regular'" font-size="8">small projects. Also familiar with </text>
                <text transform="matrix(1 0 0 1 218.0137 655.1074)" font-family="'MyriadPro-Regular'" font-size="8">iCloud Documents.</text>
            </g>
            <g id="explainRightBottom1">
                <text transform="matrix(1 0 0 1 197.0449 683.9824)" font-family="'MyriadPro-Bold'" font-size="11.3885">XML</text>
                <rect x="197.1" y="688" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 197.0449 697.6416)" font-family="'MyriadPro-Regular'" font-size="8">Written XML writers and parsers for</text>
                <text transform="matrix(1 0 0 1 197.0449 708.2598)" font-family="'MyriadPro-Regular'" font-size="8">storing application specific data like</text>
                <text transform="matrix(1 0 0 1 197.0449 718.1074)" font-family="'MyriadPro-Regular'" font-size="8">levels,themes and animations.</text>
            </g>
            <g id="explainRight4">
                <text transform="matrix(1 0 0 1 185.1138 690.1221)" font-family="'MyriadPro-Bold'" font-size="11.3885">Electron</text>
                <rect x="185.1" y="694.1" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 185.1138 703.7812)" font-family="'MyriadPro-Regular'" font-size="8">Working on a standalone desktop</text>
                <text transform="matrix(1 0 0 1 185.1138 714.3994)" font-family="'MyriadPro-Regular'" font-size="8">application using node and HTML5</text>
                <text transform="matrix(1 0 0 1 185.1138 724.1074)" font-family="'MyriadPro-Regular'" font-size="8">technologies packaged using Electron.</text>
            </g>
            <g id="explainRightBottom2">
                <text transform="matrix(1 0 0 1 148.9805 752.4238)" font-family="'MyriadPro-Bold'" font-size="11.3885">Illustrator/Photoshop</text>
                <rect x="149" y="756.4" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 148.9805 767.082)" font-family="'MyriadPro-Regular'" font-size="8">Created lots of artwork for my games in</text>
                <text transform="matrix(1 0 0 1 148.9805 776.7012)" font-family="'MyriadPro-Regular'" font-size="8">illustrator. Designed a few webpages in</text>
                <text transform="matrix(1 0 0 1 148.9805 787.1074)" font-family="'MyriadPro-Regular'" font-size="8">photoshop for this website.</text>
            </g>
            <g id="explainCore3">
                <text transform="matrix(1 0 0 1 -262.9951 823.7109)" font-family="'MyriadPro-Bold'" font-size="11.3885">Strong OOP Skills</text>
                <rect x="-263" y="827.8" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -262.9951 838.3711)" font-family="'MyriadPro-Regular'" font-size="8">Strong foundation in Object oriented</text>
                <text transform="matrix(1 0 0 1 -262.9951 847.9893)" font-family="'MyriadPro-Regular'" font-size="8">programming and design patterns. I </text>
                <text transform="matrix(1 0 0 1 -262.9951 858.1074)" font-family="'MyriadPro-Regular'" font-size="8">architect all my projects.</text>
            </g>
            <g id="explainLeftBottom1">
                <text transform="matrix(1 0 0 1 -232.3545 689.4609)" font-family="'MyriadPro-Bold'" font-size="11.3885">Cocos2D-JS</text>
                <rect x="-232.3" y="693.4" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -232.3545 704.1191)" font-family="'MyriadPro-Regular'" font-size="8">Did a scratch project once. Largely</text>
                <text transform="matrix(1 0 0 1 -232.3545 713.7383)" font-family="'MyriadPro-Regular'" font-size="8">familiar with it due to previous</text>
                <text transform="matrix(1 0 0 1 -232.3545 724.1074)" font-family="'MyriadPro-Regular'" font-size="8">experience in Cocos2D in Objective C.</text>
            </g>
            <g id="explainLeftBottom2">
                <text transform="matrix(1 0 0 1 -176.2256 756.4619)" font-family="'MyriadPro-Bold'" font-size="11.3885">Particle Systems</text>
                <rect x="-176.2" y="760.5" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -176.2256 771.1211)" font-family="'MyriadPro-Regular'" font-size="8">Experience in using 3rd party </text>
                <text transform="matrix(1 0 0 1 -176.2256 780.7402)" font-family="'MyriadPro-Regular'" font-size="8">tools like Particle Designer. Also</text>
                <text transform="matrix(1 0 0 1 -176.2256 791.1074)" font-family="'MyriadPro-Regular'" font-size="8">used Particle JS for web.</text>
            </g>
            <g id="explainBottom1">
                <text transform="matrix(1 0 0 1 -156.1172 799.6992)" font-family="'MyriadPro-Bold'" font-size="11.3885">Box 2D</text>
                <rect x="-156.1" y="803.7" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -156.1172 814.3594)" font-family="'MyriadPro-Regular'" font-size="8">Worked on a large physics simulated</text>
                <text transform="matrix(1 0 0 1 -156.1172 823.9785)" font-family="'MyriadPro-Regular'" font-size="8">puzzle game. Familiar with both</text>
                <text transform="matrix(1 0 0 1 -156.1172 834.1074)" font-family="'MyriadPro-Regular'" font-size="8">Java and C++ bindings.</text>
            </g>
            <g id="explainBottom2">
                <text transform="matrix(1 0 0 1 -55.1295 848.6152)" font-family="'MyriadPro-Bold'" font-size="11.3885">Cocos2D</text>
                <rect x="-55.2" y="852.7" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 -55.1295 863.2744)" font-family="'MyriadPro-Regular'" font-size="8">Extensively used this engine to make</text>
                <text transform="matrix(1 0 0 1 -55.1295 872.8936)" font-family="'MyriadPro-Regular'" font-size="8">2 games. Familiar with several tools</text>
                <text transform="matrix(1 0 0 1 -55.1295 883.1074)" font-family="'MyriadPro-Regular'" font-size="8">like Texture packer,Physics Editor etc.</text>
            </g>
            <g id="explainBottom3">
                <text transform="matrix(1 0 0 1 85.7256 848.6152)" font-family="'MyriadPro-Bold'" font-size="11.3885">Published 4 apps</text>
                <rect x="85.7" y="852.7" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 85.7256 863.2744)" font-family="'MyriadPro-Regular'" font-size="8">on the App Store. Learned a lot from</text>
                <text transform="matrix(1 0 0 1 85.7256 872.8936)" font-family="'MyriadPro-Regular'" font-size="8">the experience including the harsh</text>
                <text transform="matrix(1 0 0 1 85.7256 883.1074)" font-family="'MyriadPro-Regular'" font-size="8">realities of marketting.</text>
            </g>
            <g id="explainBottom4">
                <text transform="matrix(1 0 0 1 165.2646 782.4932)" font-family="'MyriadPro-Bold'" font-size="11.3885">LibGDX</text>
                <rect x="165.2" y="786.6" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 165.2646 797.1523)" font-family="'MyriadPro-Regular'" font-size="8">Couple of games made using this </text>
                <text transform="matrix(1 0 0 1 165.2646 806.7705)" font-family="'MyriadPro-Regular'" font-size="8">framework. Procedurally generated </text>
                <text transform="matrix(1 0 0 1 165.2646 817.1074)" font-family="'MyriadPro-Regular'" font-size="8">graphics for almost all of them.    </text>
            </g>
            <g id="explainCore4">
                <text transform="matrix(1 0 0 1 194.7148 823.7109)" font-family="'MyriadPro-Bold'" font-size="11.3885">Full Stack Developer</text>
                <rect x="194.7" y="827.8" fill="none" width="112.2" height="52"/>
                <text transform="matrix(1 0 0 1 194.7148 838.3711)" font-family="'MyriadPro-Regular'" font-size="8">I have designed,developed and deployed</text>
                <text transform="matrix(1 0 0 1 194.7148 847.9893)" font-family="'MyriadPro-Regular'" font-size="8">several applications. I also care about</text>
                <text transform="matrix(1 0 0 1 194.7148 858.1074)" font-family="'MyriadPro-Regular'" font-size="8">code quality and documentation.</text>
            </g>
            </svg>



        </div>
    