// Materialize
// =========

// Materialize can be removed entirely by deleting this line.

@import "materialize/materialize.scss";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

$dark-bg-font-color: #D0D0D0;
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
}

h1,h2,h3,h4,h5,h6{
  color: #4D4D4D;
  font-weight:lighter;
}

.text-on-dark-bg{
  color: $dark-bg-font-color;
}

.verticallyCenterContainer{
  position: relative;
}

.verticallyCenter{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.circleImage {
  width:150px;
  height:150px;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top:50%;
  left:50%;
}

.circleImageContainer{
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height:100px;
}

.profilePic{
  width:100px;
  height:100px;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
}

.major-top-padding{
  padding-top:75px;
}

#profile-column{
  padding-top:75px;
}

.logo-first-part{
  /* madeby: */
  font-size: 24px;
  color: #4ED0FF;
}

.logo-second-part{
  /* nikhil: */
  font-size: 24px;
  color: #FF9200;
}

#top-left-logo{
  padding-left:20px;
}

#viewPortfolio{
  position: absolute;
  left:50%;
  bottom:5%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

#viewPortfolio {
  h1,h2,h3,h4,h5,h6{
	color: $dark-bg-font-color;
	font-size:1.3em;	
  }
}
#viewPortfolio img{
  width:20px;
}

#bio-and-contact{
  h5{
	font-weight:bold;
  }
  p{
	font-size:1.2em;
  }
}

.strong-inline{
  font-size:1.2em;
  font-weight:bold;
}
.slightly-bigger-text{
  font-size:1.2em;
}

.info-unit{
  padding-bottom:15px;
}
.info-unit{
  .circleImageContainer{
	width:50px;
  }
  .circleImage{
	width:50px;
  }
}

.grid-item{
  position: relative;
}

.grid-item img{
  width:100%;
}

.grid-sizer{
  width:33%;
}

.overlay-info{
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  width:100%;
  height:100%;
  bottom:0;
  left:0;
  opacity:0;
  transition: opacity 0.2s linear;
  
  p{
	padding:0px 25px 25px 25px;
  }
  h5{
	margin-bottom:5px;
	margin-top:15px;
	padding-left:25px;
	color:$dark-bg-font-color;
  }
  
}

.overlay-info:hover{
  opacity:1;
}

.overlay-teaser{
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  width:100%;
  height:30%;
  bottom:0;
  left:0;
  padding-left:20px;
  padding-right:10px;
  h5{
	color:$dark-bg-font-color;
	margin-bottom:0;
  }
  p{
	margin-top:6px;
  }
  a{
	color:$dark-bg-font-color;
  }
  i{
	cursor: pointer;
	float:right;
	margin-top:12.3px; //same as the margin top of h5
  }
  .project-detail{
	margin-top:32px;
  }
}

.header-description-links{
    color: #ffffff !important;
    font-weight: 500;
}

#connectedParticles{
		width: 100%;
		height:100%;
    background-image: linear-gradient(135deg, #0F4B6D 0%, #000E33 100%);
	}

//desktop
@media screen and (min-width: 1024px){
  .grid-item{
	width:25%;
  }
  .overlay-teaser{
	display: none;
  }
  .grid-sizer{
	width:25%;
  }  
}

//mobile
@media only screen and (max-width: 667px) {
  .grid-item{
	width:100%;
  }
  .overlay-info{
	display: none;
  }
  .overlay-teaser{
	display: block;
  }
  .grid-sizer{
	width:100%;
  }
  #connectedParticles{   
    height: 135%;
  }
}

//tablet
@media only screen
and (min-width: 667px)
and (max-width: 1024px) {
  .grid-item{
	width:50%;
  }
  .overlay-info{
	display: none;
  }
  .overlay-teaser{
	display: block;
  }
  .grid-sizer{
	width:50%;
  }

  #connectedParticles{   
    height: 120%;
  }
}

//medium and below
@media only screen and (max-width:1024px){
  #connectedParticles{
    position: relative;    
  }
  #viewPortfolio{
    bottom: 0;
  }
}

// moved from common.css
.shadowInside{
	-webkit-box-shadow: inset 0px 0px 67px 13px rgba(0,0,0,0.57);
	-moz-box-shadow: inset 0px 0px 67px 13px rgba(0,0,0,0.57);
	box-shadow: inset 0px 0px 67px 13px rgba(0,0,0,0.57);
}

h1,h2,h3,h4,h5,h6{
	color: #DA7A22;
}