
<title>{{i18n "pageTitleCarryTheFlame"}}</title>
<style>
	/* Changes to header*/
	.nav-wrapper{
			background: #ff0000; /* Old browsers */		
			background: -webkit-linear-gradient(bottom left, #ff0000 0%, #ff8900 100%);
			background: -o-linear-gradient(bottom left, #ff0000 0%, #ff8900 100%);
			background: linear-gradient(to top right, #ff0000 0%, #ff8900 100%); /* FF3.6-15 */
			 /* Chrome10-25,Safari5.1-6 */
			 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
	/* End of changes to header*/
	 body{
			margin: 0px;			
			background: -webkit-linear-gradient(#D92000,#000000);
			background: -o-linear-gradient(#D92000,#000000);
			background: -moz-linear-gradient(#D92000,#000000);     
			background: linear-gradient(#D92000,#000000);
		}
		.logoContainer{
			background:#c55d3c;
			text-align: center;
		}
		
		.featureHeading{
			color: #e5933a;
			padding-left: 5px;
			padding-right: 5px;
		}
		p{
			color:#ffffff;
		}
		.reviewHeading{
			color: #c55d3c;
		}
		
		.featureSection{
			padding-top: 70px;
			padding-bottom: 30px;
		}
		
		.logoContainer{
			/*background:#17558a;*/
			text-align: end;
			position: relative;
			background-image: url('/images/carry-the-flame/header-box.png');
			background-size: cover;
		}
		#logo{
			padding-top:20px;
			padding-bottom: 10px;
		}
		
		.headerImages{
			position: relative;
			width: 100%;
		}
		#rightImage{
			position: absolute;
			bottom: 0px;
			right:0px;
			padding-right: 0px;
		}
		#headerImage{
			width:100%;
		}
		#floorLink{
			position: relative;
			bottom:40px;
			right:50px;
			width: 30%;
		}
		/* For larger devices*/
		@media only screen and (min-width:600px){
			
		}
		/* For mobile devices*/
		@media only screen and (max-width:600px){
			
			#rightImage{
				position: relative;
				padding-top:30px;
			}
		}
		/*#floor{
			background-image:url("/images/carry-the-flame/floor-items.png");
		}*/
</style>
<div style="background-color:#EF2600">
	<img id="headerImage" src="/images/carry-the-flame/header-box-no-outer-shadow.png" alt="logo" />
</div>

	<section>
		<div class="container">
			<div class="row featureSection">
				<div class="col s12 m4 offset-m1 l4 offset-l1">
<!--                    TODO GIF-->
					<img src="/images/carry-the-flame/egg.svg"/ alt="game demo" width="100%">
				</div>
				<div class="col s12 m6 l4 offset-l2 featureSection">
					<h4 class="center-align"><span class="featureHeading">{{i18n "title1CarryTheFlame"}}</span></h4>
					<p>
						{{i18n "detail1CarryTheFlame"}} 
					</p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row featureSection">
				<div class="col s12 m4 offset-m2 push-m6 l4 offset-l1 push-l6">
<!--                    TODO GIF-->
					<img src="/images/carry-the-flame/burning-items.png"/ alt="game demo" width="100%">
				</div>
				<div class="col s12 m5 offset-m1 pull-m6 l4 offset-l2 pull-l6 featureSection">
					<h4 class="center-align"><span class="featureHeading">{{i18n "title2CarryTheFlame"}}</span></h4>
					<p>
						{{i18n "detail2CarryTheFlame"}} 
					</p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row featureSection">
				<div class="col s12 m4 offset-m1 l4 offset-l1">
<!--                    TODO GIF-->
					<img src="/images/carry-the-flame/extinguishers.png"/ alt="game demo" width="100%">
				</div>
				<div class="col s12 m5 offset-m1 l4 offset-l2 featureSection">
					<h4 class="center-align"><span class="featureHeading">{{i18n "title3CarryTheFlame"}}</span></h4>
					<p>
						{{i18n "detail3CarryTheFlame"}} 
					</p>
				</div>  
			</div>
		</div>
	</section>
		
	<!--<div class="row" style="padding-top:80px;padding-bottom:50px;">
		<div class="col s12 m10 offset-m1 l8 offset-l2">
			<object data="https://www.youtube.com/embed/tBg-ZhMQ06Y" width="100%" height="380em"></object>
		</div>
	</div>-->
	<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/tBg-ZhMQ06Y" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="row">
		<div class="col s12 m10 offset-m1 l8 offset-l4">
			<h3 class="reviewHeading"></h3>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m10 offset-m1 l8 offset-l4">
			<a href="http://www.apppicker.com/reviews/22959/carry-the-flame-app-review">
				<h3 style="text-decoration:underline;" class="reviewHeading">
					Fun for all ages - App Picker
				</h3>
			</a>
		</div>
	</div>
	
<!--
	<div class="row" style="padding-top:30px;padding-bottom:50px;">
		<div class="four columns offset-by-four">
			<a href="#"><img id="appStore" src="/images/app-store-badge.svg" width="100%" alt="App Store Link"/></a>
		</div>
	</div>
-->
</div>

<div class="row hide-on-med-and-up" style="padding-top:30px;padding-bottom:50px;">
	<div class="col s8 offset-s2 m4 offset-m4 l3 offset-l5">
		<a href="https://itunes.apple.com/us/app/carry-the-flame/id914483142?mt=8"><img id="appStore" src="/images/app-store-badge.svg" width="100%" alt="App Store Link"/></a>
	</div>
</div>

<div id="floor" style="position:relative">
	<img style="width:100%" src="/images/carry-the-flame/floor-items.png" alt="logo" />
	<a class="hide-on-small-only" id="floorLink" href="https://itunes.apple.com/us/app/carry-the-flame/id914483142?mt=8"
	style="position:absolute;bottom:42%;right:10%"
	>
		<img id="appStore" style="width:100%" src="/images/app-store-badge.svg" alt="App Store Link"/>
	</a>
</div>
