<footer class="page-footer">
	<div class="container">
	<div class="row">
		
		<div class="col l2 s12">
		<h5 class="white-text">{{i18n "apps"}}</h5>
		<ul>
			<li><a class="grey-text text-lighten-3" href="https://github.com/nikhilnxvverma1/fine">{{i18n "fileNeat"}}</a></li>
			<li><a class="grey-text text-lighten-3" href="/promo/carry-the-flame">{{i18n "carryTheFlame"}}</a></li>
			<li><a class="grey-text text-lighten-3" href="/promo/sudoku-all-solver">{{i18n "sudokuAllSolver"}}</a></li>
			<li><a class="grey-text text-lighten-3" href="/promo/laying-bricks">{{i18n "layingBricks"}}</a></li>
			<li><a class="grey-text text-lighten-3" href="/promo/snakes-ergo">{{i18n "snakesErgo"}}</a></li>
		</ul>
		</div>
		<div class="col l2 s12">
		<h5 class="white-text">{{i18n "projects"}}</h5>
		<ul>
			<li><a class="grey-text text-lighten-3" href="https://github.com/nikhilnxvverma1/recycle-fling">{{i18n "titleRecycleRampage"}}</a></li>
			<li><a class="grey-text text-lighten-3" href="https://github.com/nikhilnxvverma1/Timeshift">{{i18n "timeshift"}}</a></li>
			<li><a class="grey-text text-lighten-3" href="http://devpost.com/software/graphit">{{i18n "graphIt"}}</a></li>
			<li><a class="grey-text text-lighten-3" href="http://devpost.com/software/spot-search">{{i18n "spotSearch"}}</a></li>
		</ul>
		</div>
		<div class="col l2 s12">
		<h5 class="white-text">{{i18n "more"}}</h5>
		<ul>
			<li><a class="grey-text text-lighten-3" href="/#about">{{i18n "about"}}</a></li>
			<li><a class="grey-text text-lighten-3" href="/#contact">{{i18n "contact"}}</a></li>
			<li><a class="grey-text text-lighten-3" href="/blog">{{i18n "blog"}}</a></li>
		</ul>
		</div>
	</div>
	</div>
	<div class="footer-copyright">
	<div class="container">
		© 2016 Copyright
<!--            <a class="grey-text text-lighten-4 right" href="#!">Blog</a>-->
	</div>
	</div>
</footer> 