{{define "main"}}

<title>{{i18n "defaultHtmlTitle"}}</title>
 <!--Custom javascript-->
<script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script>
	$(document).ready(function(){
		//load the particle system,
		//connectedBlueDots is defined in config file(blue-connected.json)
		// particlesJS('connectedParticles',connectedBlueDots);

        $(".button-collapse").sideNav();
        $('.dropdown-button').dropdown({hover:false});
		
		
        $("#viewPortfolio").click(function() {
            $('html, body').animate({
                scrollTop: $("#portfolio").offset().top
            }, 1000);
        });
	});

    //wait for all the images to load up before calling masanory
    $(window).load(function(){
        var msnry = new Masonry( '.grid', {
            // options
            itemSelector:".grid-item",
			columnWidth:".grid-item",
        });
    });
	
	function showProjectDetail(element){
		var overlayTeaserDiv=element.parentElement;
		$(overlayTeaserDiv).animate({height:"100%"},200);
		$(overlayTeaserDiv).find('.show-detail').css('display',"none");
        $(overlayTeaserDiv).find('.project-title').css('display',"none");
        $(overlayTeaserDiv).find('.project-brief').css('display',"none");
        $(overlayTeaserDiv).find('.project-detail').css('display',"block");
        $(overlayTeaserDiv).find('.hide-detail').css('display',"block");
	}
	
	function hideProjectDetail(element){
        var overlayTeaserDiv=element.parentElement;
        $(overlayTeaserDiv).animate({height:"30%"},200);
        $(overlayTeaserDiv).find('.show-detail').css('display',"block");
        $(overlayTeaserDiv).find('.project-title').css('display',"block");
        $(overlayTeaserDiv).find('.project-brief').css('display',"block");
        $(overlayTeaserDiv).find('.project-detail').css('display',"none");
        $(overlayTeaserDiv).find('.hide-detail').css('display',"none");
	}

</script>

<style>
	
	.shadowInside{
		-webkit-box-shadow: inset 0px 0px 67px 13px rgba(0,0,0,0.57);
		-moz-box-shadow: inset 0px 0px 67px 13px rgba(0,0,0,0.57);
		box-shadow: inset 0px 0px 67px 13px rgba(0,0,0,0.57);
	}
	

	.wideOpening{
		height: 200px;
		background-color: #0c4b81;
	}
	.anchoredCenter{
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		transform: translate(-50%,-50%);
		position: relative;
		top:50%;
		left:50%;
	}
	.anchoredVerticalCenter{
		-webkit-transform:translate(0%,-50%);
		-moz-transform:translate(0%,-50%);
		transform: translate(0%,-50%);
		position: relative;
		top:100%;
		left:0;
	}
	
	#vennDiagramContainer{
		margin: 0 auto;   
		/* for center alignment*/
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	
	.explainer{
		background-color: blueviolet;
	}
	.upperGradientShadow{
		position: relative;
		top:0;
		left:0;
		width: 100%;
		height: 30px;
		background: red;
		background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0));
	}
	.lowerGradientShadow{
		position: relative;
		bottom: 0;
		left:0;
		width: 100%;
		height: 30px;
		background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.22));
	}
</style>

<!--Connected Particles-->
<div id="connectedParticles">
    <ul id="appsDropdownForNonMobile" class="dropdown-content">
        <li><a href="https://github.com/nikhilnxvverma1/fine">{{i18n "fileNeat"}}</a></li>
	    <li class="divider"></li>
        <li><a href="/promo/carry-the-flame/">{{i18n "carryTheFlame"}}</a></li>
        <li class="divider"></li>
        <li><a href="/promo/sudoku-all-solver/">{{i18n "sudokuAllSolver"}}</a></li>
        <li class="divider"></li>
        <li><a href="/promo/snakes-ergo/">{{i18n "snakesErgo"}}</a></li>
        <li class="divider"></li>
        <li><a href="/promo/laying-bricks/">{{i18n "layingBricks"}}</a></li>
    </ul>
    <ul id="appsDropdownMobile" class="dropdown-content">
        <li><a href="https://github.com/nikhilnxvverma1/fine">{{i18n "fileNeat"}}</a></li>
	    <li class="divider"></li>
        <li><a href="/promo/carry-the-flame/">{{i18n "carryTheFlame"}}</a></li>
        <li class="divider"></li>
        <li><a href="/promo/sudoku-all-solver/">{{i18n "sudokuAllSolver"}}</a></li>
        <li class="divider"></li>
        <li><a href="/promo/snakes-ergo/">{{i18n "snakesErgo"}}</a></li>
        <li class="divider"></li>
        <li><a href="/promo/laying-bricks/">{{i18n "layingBricks"}}</a></li>
    </ul>
    <ul id="projectsDropdownForNonMobile" class="dropdown-content">
        <li><a href="https://github.com/nikhilnxvverma1/recycle-fling">{{i18n "titleRecycleRampage"}}</a></li>
	    <li class="divider"></li>
        <li><a href="https://github.com/nikhilnxvverma1/Timeshift">{{i18n "timeshift"}}</a></li>
        <li class="divider"></li>
        <li><a href="http://devpost.com/software/graphit">{{i18n "graphIt"}}</a></li>
        <li class="divider"></li>
        <li><a href="http://devpost.com/software/spot-search">{{i18n "spotSearch"}}</a></li>
    </ul>
    <ul id="projectsDropdownMobile" class="dropdown-content">
        <li><a href="https://github.com/nikhilnxvverma1/recycle-fling">{{i18n "titleRecycleRampage"}}</a></li>
	    <li class="divider"></li>
        <li><a href="https://github.com/nikhilnxvverma1/Timeshift">{{i18n "timeshift"}}</a></li>
        <li class="divider"></li>
        <li><a href="http://devpost.com/software/graphit">{{i18n "graphIt"}}</a></li>
        <li class="divider"></li>
        <li><a href="http://devpost.com/software/spot-search">{{i18n "spotSearch"}}</a></li>
    </ul>
    <nav style="background: transparent;box-shadow:none">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo valign" id="top-left-logo">
				<span class="logo-first-part">{{i18n "madeBy"}}</span><span class="logo-second-part">{{i18n "nikhil"}}</span>
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">{{i18n "home"}}</a></li>
                <li><a href="/blog/">{{i18n "blog"}}</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="appsDropdownForNonMobile">{{i18n "apps"}} <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="projectsDropdownForNonMobile">{{i18n "projects"}} <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/">{{i18n "home"}}</a></li>
                <li><a href="/blog/">{{i18n "blog"}}</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="appsDropdownMobile">{{i18n "apps"}}<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="projectsDropdownMobile">{{i18n "projects"}}<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
    <div id="aboutMe" class="row">
        <div class="col offset-s4 s2 offset-m4 m2 offset-l3 l1 major-top-padding" id="profile-column">
            <div class="circleImageContainer waves-effect">
            	<img class="circleImage profilePic" src="/images/mugshot.jpg" >
			</div>
        </div>
		<div class="col s12 offset-m2 m8 offset-l2 l4">
			<h3 class="text-on-dark-bg">{{i18n "aboutMe"}}</h3>
			<p class="text-on-dark-bg">
                {{i18n "aboutMePara1"}}
                <a class="header-description-links" href='https://github.com/nikhilnxvverma1/fine'>{{i18n "fileNeat"}}</a>
                {{i18n "and"}}
                <a class="header-description-links" href='/apps/carry-the-flame/'>{{i18n "carryTheFlame"}}</a>
                {{i18n "aboutMePara1AfterLinks"}}
			</p>
		</div>
	</div>
	<div id="viewPortfolio" class="center-align text-on-dark-bg">
			<h6>{{i18n "viewPortfolio"}}</h6>
			<img src="/images/hollow-down-arrowhead.svg"/>
	</div>
</div>        

<!--Skill Diagram-->

<div class="section">
	<div class="container">
		<h3>{{i18n "skillsNTechnologies"}}</h3>
		<!-- For desktop -->
		{{block "skill-diagram" .}} {{partial "skill-diagram" .}} {{end}}
	</div>
</div>


<!--Portfolio-->

<div class="section" id="portfolio">
    <div class="container"><h3>{{i18n "portfolio"}}</h3></div>
	<div class="grid">
		<div class="grid-item">
            <img class="activator" src="/images/project-teasers/carry-the-flame-tsr.jpg">
			<a href="/promo/carry-the-flame/">
				<div class="overlay-info text-on-dark-bg">
					<h5 class="project-title">{{i18n "titleProject1"}}</h5>
					<p>{{i18n "detailProject1"}}</p>
				</div>
			</a>
			<div class="overlay-teaser text-on-dark-bg">
                <i class="material-icons show-detail" onclick="showProjectDetail(this)">more_vert</i>
				<!--Close button (this will be toggled through the click/tap handlers)-->
                <i class="material-icons hide-detail" onclick="hideProjectDetail(this)" style="display: none;">close</i>
				<a href="/promo/carry-the-flame/"><h5 class="project-title">{{i18n "titleProject1"}}</h5></a>
				<p class="project-brief">{{i18n "briefProject1"}}</p>
                <!--Detail about project(this will be toggled through the click/tap handlers)-->
                <p class="project-detail" style="display: none;">{{i18n "detailProject1"}}</p>
			</div>
		</div>
        <div class="grid-item">
            <img class="activator" src="https://res.cloudinary.com/madebynikhil/image/upload/c_scale,h_300,w_400/v1474842369/fine-sunburst_cvvjdj.png">
            <a href='https://github.com/nikhilnxvverma1/fine'>
				<div class="overlay-info text-on-dark-bg">
					<h5 class="project-title">{{i18n "titleFine"}}</h5>
					<p>{{i18n "detailFine"}}</p>
            	</div>
			</a>
            <div class="overlay-teaser text-on-dark-bg">
                <i class="material-icons show-detail" onclick="showProjectDetail(this)">more_vert</i>
                <!--Close button (this will be toggled through the click/tap handlers)-->
                <i class="material-icons hide-detail" onclick="hideProjectDetail(this)" style="display: none;">close</i>
                <a href='https://github.com/nikhilnxvverma1/fine'><h5 class="project-title">{{i18n "titleFine"}}</h5></a>
                <p class="project-brief">{{i18n "briefFine"}}</p>
                <!--Detail about project(this will be toggled through the click/tap handlers)-->
                <p class="project-detail" style="display: none;">{{i18n "detailFine"}}</p>
            </div>
        </div>
        <div class="grid-item">
            <img class="activator" src="/images/project-teasers/timeshift-tsr.png">
            <a href="https://github.com/nikhilnxvverma1/Timeshift">
				<div class="overlay-info text-on-dark-bg">
					<h5 class="project-title">{{i18n "titleProject2"}}</h5>
					<p>{{i18n "detailProject2"}}</p>
            	</div>
			</a>
            <div class="overlay-teaser text-on-dark-bg">
                <i class="material-icons show-detail" onclick="showProjectDetail(this)">more_vert</i>
                <!--Close button (this will be toggled through the click/tap handlers)-->
                <i class="material-icons hide-detail" onclick="hideProjectDetail(this)" style="display: none;">close</i>
                <a href="https://github.com/nikhilnxvverma1/Timeshift"><h5 class="project-title">{{i18n "titleProject2"}}</h5></a>
                <p class="project-brief">{{i18n "briefProject2"}}</p>
                <!--Detail about project(this will be toggled through the click/tap handlers)-->
                <p class="project-detail" style="display: none;">{{i18n "detailProject2"}}</p>
            </div>
        </div>
        
        <div class="grid-item">
            <img class="activator" src="/images/project-teasers/opengl-tsr.png">
            <a href="https://gitlab.com/nikhilnxvverma1/chess-scene"><div class="overlay-info text-on-dark-bg">
                <h5 class="project-title">{{i18n "titleOpengl"}}</h5>
                <p>{{i18n "detailOpengl"}}</p>
            </div></a>
            <div class="overlay-teaser text-on-dark-bg">
                <i class="material-icons show-detail" onclick="showProjectDetail(this)">more_vert</i>
                <!--Close button (this will be toggled through the click/tap handlers)-->
                <i class="material-icons hide-detail" onclick="hideProjectDetail(this)" style="display: none;">close</i>
                <a href="https://gitlab.com/nikhilnxvverma1/chess-scene"><h5 class="project-title">{{i18n "titleOpengl"}}</h5></a>
                <p class="project-brief">{{i18n "briefOpengl"}}</p>
                <!--Detail about project(this will be toggled through the click/tap handlers)-->
                <p class="project-detail" style="display: none;">{{i18n "detailOpengl"}}</p>
            </div>
        </div>
        <div class="grid-item">
            <img class="activator" src="/images/project-teasers/snakes-ergo-tsr.png">
            <a href="/promo/snakes-ergo/"><div class="overlay-info text-on-dark-bg">
                <h5 class="project-title">{{i18n "titleProject4"}}</h5>
                <p>{{i18n "detailProject4"}}</p>
            </div></a>
            <div class="overlay-teaser text-on-dark-bg">
                <i class="material-icons show-detail" onclick="showProjectDetail(this)">more_vert</i>
                <!--Close button (this will be toggled through the click/tap handlers)-->
                <i class="material-icons hide-detail" onclick="hideProjectDetail(this)" style="display: none;">close</i>
                <a href="/promo/snakes-ergo/"><h5 class="project-title">{{i18n "titleProject4"}}</h5></a>
                <p class="project-brief">{{i18n "briefProject4"}}</p>
                <!--Detail about project(this will be toggled through the click/tap handlers)-->
                <p class="project-detail" style="display: none;">{{i18n "detailProject4"}}</p>
            </div>
        </div>
        <div class="grid-item">
            <img class="activator" src="/images/project-teasers/sudoku-all-solver-tsr.png">
            <a href="/promo/sudoku-all-solver/"><div class="overlay-info text-on-dark-bg">
                <h5 class="project-title">{{i18n "titleProject5"}}</h5>
                <p>{{i18n "detailProject5"}}</p>
            </div></a>
            <div class="overlay-teaser text-on-dark-bg">
                <i class="material-icons show-detail" onclick="showProjectDetail(this)">more_vert</i>
                <!--Close button (this will be toggled through the click/tap handlers)-->
                <i class="material-icons hide-detail" onclick="hideProjectDetail(this)" style="display: none;">close</i>
                <a href="/promo/sudoku-all-solver/"><h5 class="project-title">{{i18n "titleProject5"}}</h5></a>
                <p class="project-brief">{{i18n "briefProject5"}}</p>
                <!--Detail about project(this will be toggled through the click/tap handlers)-->
                <p class="project-detail" style="display: none;">{{i18n "detailProject5"}}</p>
            </div>
        </div>
        <div class="grid-item">
            <img class="activator" src="/images/project-teasers/laying-bricks-tsr.png">
            <a href="/promo/laying-bricks/"><div class="overlay-info text-on-dark-bg">
                <h5 class="project-title">{{i18n "titleProject6"}}</h5>
                <p>{{i18n "detailProject6"}}</p>
            </div></a>
            <div class="overlay-teaser text-on-dark-bg">
                <i class="material-icons show-detail" onclick="showProjectDetail(this)">more_vert</i>
                <!--Close button (this will be toggled through the click/tap handlers)-->
                <i class="material-icons hide-detail" onclick="hideProjectDetail(this)" style="display: none;">close</i>
                <a href="/promo/laying-bricks/"><h5 class="project-title">{{i18n "titleProject6"}}</h5></a>
                <p class="project-brief">{{i18n "briefProject6"}}</p>
                <!--Detail about project(this will be toggled through the click/tap handlers)-->
                <p class="project-detail" style="display: none;">{{i18n "detailProject6"}}</p>
            </div>
        </div>
        <div class="grid-item">
            <img class="activator" src="/images/project-teasers/recycle-rampage-tsr.png">
            <a href="https://github.com/nikhilnxvverma1/recycle-fling">
				<div class="overlay-info text-on-dark-bg">
					<h5 class="project-title">{{i18n "titleRecycleRampage"}}</h5>
					<p>{{i18n "detailRecycleRampage"}}</p>
            	</div>
			</a>
            <div class="overlay-teaser text-on-dark-bg">
                <i class="material-icons show-detail" onclick="showProjectDetail(this)">more_vert</i>
                <!--Close button (this will be toggled through the click/tap handlers)-->
                <i class="material-icons hide-detail" onclick="hideProjectDetail(this)" style="display: none;">close</i>
                <a href="https://github.com/nikhilnxvverma1/Calculator-MVC"><h5 class="project-title">{{i18n "titleRecycleRampage"}}</h5></a>
                <p class="project-brief">{{i18n "briefRecycleRampage"}}</p>
                <!--Detail about project(this will be toggled through the click/tap handlers)-->
                <p class="project-detail" style="display: none;">{{i18n "detailRecycleRampage"}}</p>
            </div>
        </div>
		
	</div>
</div>

<!--Bio and contact-->


<div class="section" id="bio-and-contact">
	<div class="container">
		{{.Content}}
		<div class="info-unit">
			<span class="strong-inline">{{i18n "Email"}}: </span>
			<span class="slightly-bigger-text"> {{i18n "emailValue"}}</span>
		</div>
        <div class="info-unit">
            <span class="strong-inline">{{i18n "mobile"}}: </span>
            <span class="slightly-bigger-text"> {{i18n "mobileValue"}}</span>
        </div>

        <div class="info-unit">
            <a href="https://github.com/nikhilnxvverma1">
				<div class="circleImageContainer waves-effect">
                	<img class="circleImage" src="/images/github-logo.svg"/>
            	</div>
			</a>
            <a href="https://www.linkedin.com/in/nikhil-verma-1b867267?trk=hp-identity-photo">
				<div class="circleImageContainer waves-effect">
                	<img class="circleImage" src="/images/linked-in-logo.svg"/>
            	</div>
			</a>
        </div>
		<div class="info-unit">
			<a href="/resume.pdf">{{i18n "viewFullResume"}}</a>
		</div>
        <div class="center-align">
			<a class="btn waves-effect waves-light " href="mailto:nikhilnxvverma1@gmail.com?subject=Made by Nikhil">{{i18n "contactMe"}}</a>
		</div>
	</div>
</div>


{{end}}