// Materialize
// =========

// Materialize can be removed entirely by deleting this line.

@import "materialize/materialize.scss";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
}

h1,h2,h3,h4,h5,h6{
  color: #4D4D4D;
  font-weight:lighter;
}

.text-on-dark-bg{
  color: #D0D0D0;
}

.verticallyCenterContainer{
  position: relative;
}

.verticallyCenter{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.circleImage {
  width:150px;
  height:150px;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top:50%;
  left:50%;
}

.circleImageContainer{
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height:100px;
}

.profilePic{
  width:100px;
  height:100px;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
}

.major-top-padding{
  padding-top:75px;
}

#profile-column{
  padding-top:75px;
}

.logo-first-part{
  /* madeby: */
  font-size: 24px;
  color: #4ED0FF;
}

.logo-second-part{
  /* nikhil: */
  font-size: 24px;
  color: #FF9200;
}

#top-left-logo{
  padding-left:20px;
}

#viewPortfolio{
  position: absolute;
  left:50%;
  bottom:5%;
  transform: translate(-50%,-50%);
}

#viewPortfolio {
  h1,h2,h3,h4,h5,h6{
	color:#D0D0D0;
	font-size:1.3em;	
  }
}
#viewPortfolio img{
  width:20px;
}

#bio-and-contact{
  h5{
	font-weight:bold;
  }
  p{
	font-size:1.2em;
  }
}

.strong-inline{
  font-size:1.2em;
  font-weight:bold;
}
.slightly-bigger-text{
  font-size:1.2em;
}

.info-unit{
  padding-bottom:15px;
}
.info-unit{
  .circleImageContainer{
	width:50px;
  }
  .circleImage{
	width:50px;
  }
}

.grid-item{
  //width:100%;
}
.grid-item img{
  //width:100%;
}

.grid-sizer{
  width:33%;
}
